/.ipynb_checkpoints
/BraTS2021_00495.tar
/BraTS2021_00621.tar
/Data
/flair_slice_80.png
/metrics_table.png
/model.png
/model4.png
/Models
/MRI

/vitUnetPrediction_case_00495.png
/vitUnetPrediction_case_00621.png